/* 
Copyright 2008 Daniel Lombraña González, David P. Anderson, Francisco Fernández de Vega

This file is part of Jarifa.

Jarifa is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Jarifa is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Jarifa.  If not, see <http://www.gnu.org/licenses/>.
*/

body
{
    background-color:#ECF4DF;
}

#container
{
    width: 90%;
    margin: 10px auto;
    background-color:#C6DFA4;
    color: #333;
    border: 1px solid gray;
    line-height: 130%;
}

#logo
{
    padding: .2em;
    background-color:#9FBF6A;
}

#header
{
    padding: .5em;
    background-color:#9FBF6A;
    border-bottom: 1px solid gray;
}

#header h1
{
    padding: 0;
    margin: 0;
}

#menu
{
    float: left;
    width: 160px;
    margin: 0;
    margin-left: 0;
    background-color:#C6DFA4;
}

#content
{
    margin-left: 200px;
    padding: 1em;
    max-width: 65em;
    background-color: #ECF4DF;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
}

#stats
{
    text-align: center;
}

#footer
{
    clear: both;
    margin: 0;
    padding: .5em;
    color: #333;
    background-color:#9FBF6A;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    text-align: center;
    font-weight: bold;
}
table th
{
    text-align:left;
}

#menu p { margin: 0 0 1em 0; }
#content h2 { margin: 0 0 .5em 0;  }

table.stats
{
    font-weight: normal;
    font-size: 11px;
    border-style: none;
    border-collapse: collapse;
    border-spacing: 2px;
    margin-left: auto;
    margin-right: auto;
}

table.form
{
    font-weight: normal;
    font-size: 11px;
    border: 1px #9FBF6A solid;
    border-collapse: collapse;
    border-spacing: 0px;
    text-align: center;
}

table.form tr 
{
	border-width: 1px 1px 1px 1px;
	padding: 5px 5px 5px 5px;
}

table.form td 
{
	border-width: 1px 1px 1px 1px;
	padding: 5px 5px 5px 5px;
}

table.form tbody tr:hover 
{
  background: #C6DFA4;
  color: black;
}

.Hd
{
    border-bottom: 1px solid #9FBF6A;
    background-color: #C6DFA4;
    font-weight: bold;
    color: black;
}

#requirements
{
    font-size: 10px;
}

#credits
{
    padding:2px;
}

#nav a
{
    font-size:10px;
}
